/* @import url('https://fonts.googleapis.com/css?family=Comic+Neue:wght@400;700'); */

@font-face {
	font-family: 'AnimeAceFont';
	src: url('/anime-ace-font/anime-ace.regular.woff') format('woff');
}

html,
body,
#svelte {
	font-family: 'AnimeAceFont', 'Verdana', 'Helvetica', sans-serif;
}

body {
	background-color: #1a1b1d;
}
